# Python virtual environments
python_backend/venv39/
# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Test output
.pytest_cache/
*.coverage
coverage.xml

# Logs
*.log
logs/
debug.log

# Build directories
target/
processed/
Results/
temp_uploads/

# Large files (Évite d'envoyer des modèles et fichiers binaires inutiles)
python_backend/ffmpeg/
pretrained_models/
bin/

# Node.js modules (si applicable)
node_modules/

# Docker files (évite d'envoyer le cache inutile)
docker-compose.override.yml
.dockerignore

# IDE and editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Operating system files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.tmp
*.swp
*.swo
