fastapi==0.100.0
uvicorn==0.23.0
python-multipart==0.0.6
librosa==0.10.1
spleeter==2.4.0
numpy==1.23.5
scipy==1.10.1
soundfile==0.12.1
torchaudio==2.0.2  # Utilise torchaudio sans torch complet
tensorflow-cpu==2.9.1  # Version CPU pour éviter 1GB+
pydub==0.25.1
starlette==0.27.0
mido==1.2.10
python-rtmidi==1.4.9
pretty_midi==0.2.9
httpx==0.19.0  # Requis pour spleeter
