fastapi==0.85.0
uvicorn==0.18.3
python-multipart==0.0.6
librosa==0.9.1
spleeter==2.3.0
numpy>=1.23
scipy>=1.8
soundfile==0.10.3.post1
torch==1.12.0
torchaudio==0.12.0
pydub==0.25.1
tensorflow==2.10.0
pytest==7.1.2
httpx==0.23.0
pytest-asyncio==0.19.0
starlette==0.20.4
mido==1.2.10
python-rtmidi==1.1.2
pretty_midi==0.2.9
